#kt_app_sidebar

<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar"
    data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px"
    data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">

    <!--begin::Main-->
    <div class="d-flex flex-column justify-content-between h-100 hover-scroll-overlay-y my-2 mx-5 d-flex flex-column"
        id="kt_app_sidebar_main" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto"
        data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_main" data-kt-scroll-offset="5px"
        style="height: 172px;">
        <!--begin::Sidebar menu-->
        <div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false"
            class="flex-column-fluid menu menu-sub-indention menu-column menu-rounded menu-active-bg mb-7">
            <!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion"><!--begin:Menu link--><span
                    class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-some-files fs-1"><span
                                class="path1"></span><span class="path2"></span></i></span><span
                        class="menu-title">Pages</span><span
                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                <div class="menu-sub menu-sub-accordion">
                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
                        <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span class="menu-title">User
                                Profile</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link active"
                                    href="/saul-html-free/pages/user-profile/overview.html"><span
                                        class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Overview</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Projects<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Campaigns<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Documents<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Followers<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Activity<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span class="menu-title">Account</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/account/overview.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Overview</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/account/settings.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Settings</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Security<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Activity<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Billing<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Statements<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Referrals<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">API
                                        Keys<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Logs<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span
                                class="menu-title">Authentication</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion"><!--begin:Menu item-->
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Sign
                                        In</span><span
                                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                                <div class="menu-sub menu-sub-accordion menu-active-bg"><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                            href="/saul-html-free/authentication/sign-in/basic.html"><span
                                                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Basic</span></a><!--end:Menu link--></div>
                                    <!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                            href="/saul-html-free/authentication/sign-in/password-reset.html"><span
                                                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Password Reset</span></a><!--end:Menu link--></div>
                                    <!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                            href="/saul-html-free/authentication/sign-in/new-password.html"><span
                                                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                                class="menu-title">New Password</span></a><!--end:Menu link--></div>
                                    <!--end:Menu item-->
                                </div><!--end:Menu sub-->
                            </div><!--end:Menu item--><!--begin:Menu item-->
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Sign
                                        Up</span><span
                                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                                <div class="menu-sub menu-sub-accordion menu-active-bg"><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                            href="/saul-html-free/authentication/sign-up/basic.html"><span
                                                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Basic</span></a><!--end:Menu link--></div>
                                    <!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                            data-kt-page="pro"><span class="menu-bullet"><span
                                                    class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Multi-steps<span
                                                    class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-original-title="Upgrade to Pro to get this"
                                                    data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                                    </div><!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                            data-kt-page="pro"><span class="menu-bullet"><span
                                                    class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Free Trial<span
                                                    class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-original-title="Upgrade to Pro to get this"
                                                    data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                                    </div><!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                            data-kt-page="pro"><span class="menu-bullet"><span
                                                    class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Coming Soon<span
                                                    class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-original-title="Upgrade to Pro to get this"
                                                    data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                                    </div><!--end:Menu item-->
                                </div><!--end:Menu sub-->
                            </div><!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Welcome
                                        Message<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Verify
                                        Email<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Password
                                        Confirmation<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Account
                                        Deactivation<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Error
                                        404<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Error
                                        500<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Email
                                        Templates</span><span
                                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                                <div class="menu-sub menu-sub-accordion menu-active-bg"><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                            target="_blank" data-kt-page="pro"><span class="menu-bullet"><span
                                                    class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Verify Email<span
                                                    class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-original-title="Upgrade to Pro to get this"
                                                    data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                                    </div><!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                            target="_blank" data-kt-page="pro"><span class="menu-bullet"><span
                                                    class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Account Invitation<span
                                                    class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-original-title="Upgrade to Pro to get this"
                                                    data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                                    </div><!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                            target="_blank" data-kt-page="pro"><span class="menu-bullet"><span
                                                    class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Password Reset<span
                                                    class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-original-title="Upgrade to Pro to get this"
                                                    data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                                    </div><!--end:Menu item--><!--begin:Menu item-->
                                    <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                            target="_blank" data-kt-page="pro"><span class="menu-bullet"><span
                                                    class="bullet bullet-dot"></span></span><span
                                                class="menu-title">Password Changed<span
                                                    class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-original-title="Upgrade to Pro to get this"
                                                    data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                                    </div><!--end:Menu item-->
                                </div><!--end:Menu sub-->
                            </div><!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span
                                class="menu-title">Corporate</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/about.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">About</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/team.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Our
                                        Team</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/contact.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Contact
                                        Us</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/licenses.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Licenses</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/sitemap.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Sitemap</span></a><!--end:Menu link--></div>
                            <!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span class="menu-title">Social</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/social/feeds.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Feeds</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Activty<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Followers<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="#"
                                    data-kt-page="pro"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span
                                        class="menu-title">Settings<span
                                            class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                                            data-bs-toggle="tooltip" data-bs-original-title="Upgrade to Pro to get this"
                                            data-kt-initialized="1">Pro</span></span></a><!--end:Menu link--></div>
                            <!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span class="menu-title">Blog</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion menu-active-bg"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/blog/home.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Blog
                                        Home</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/blog/post.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Blog
                                        Post</span></a><!--end:Menu link--></div><!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span class="menu-title">FAQ</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion menu-active-bg"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/faq/classic.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">FAQ
                                        Classic</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/faq/extended.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">FAQ
                                        Extended</span></a><!--end:Menu link--></div><!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span class="menu-title">Pricing</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion menu-active-bg"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/pricing/column.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Column
                                        Pricing</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/pricing/table.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Table
                                        Pricing</span></a><!--end:Menu link--></div><!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item--><!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><!--begin:Menu link--><span
                            class="menu-link"><span class="menu-bullet"><span
                                    class="bullet bullet-dot"></span></span><span class="menu-title">Careers</span><span
                                class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion"><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/careers/list.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Careers
                                        List</span></a><!--end:Menu link--></div>
                            <!--end:Menu item--><!--begin:Menu item-->
                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link"
                                    href="/saul-html-free/pages/careers/apply.html"><span class="menu-bullet"><span
                                            class="bullet bullet-dot"></span></span><span class="menu-title">Careers
                                        Apply</span></a><!--end:Menu link--></div><!--end:Menu item-->
                        </div><!--end:Menu sub-->
                    </div><!--end:Menu item-->
                </div><!--end:Menu sub-->
            </div><!--end:Menu item-->

        </div>
        <!--end::Sidebar menu-->
    </div>
    <!--end::Main-->
</div>